#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
includes:
    - webloader.neon


parameters:
    grid:
        id: false


php:
    date.timezone: Europe/Prague
    #zlib.output_compression: yes


nette:
    application:
        errorPresenter: Error
        mapping:
            *: App\*Module\Presenters\*Presenter

    session:
        autoStart: smart
        expiration: +30 days

    latte:
        macros:
            - Nextras\Forms\Bridges\Latte\Macros\BS3InputMacros

doctrine:
    metadata:
        App: %appDir%

extensions:
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    console: Kdyby\Console\DI\ConsoleExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    events: Kdyby\Events\DI\EventsExtension

services:
    # Authenticator
    - App\Authenticator(@doctrine.dao(App\Entities\User))


    # Router
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

    # Model classes
    - App\Model\AthleteModel(@doctrine.dao(App\Entities\Athlete))
    - App\Model\CoachModel(@doctrine.dao(App\Entities\Coach))
    - App\Model\RecordModel(@doctrine.dao(App\Entities\Record))
    - App\Model\RoleModel(@doctrine.dao(App\Entities\Role))
    - App\Model\SessionModel(@doctrine.dao(App\Entities\Session))
    - App\Model\TestModel(@doctrine.dao(App\Entities\Test))
    - App\Model\UserModel(@doctrine.dao(App\Entities\User))


    # Components' factories
    # Athletes' components
    - App\Components\Athlete\IGridControlFactory
    - App\Components\Athlete\IEntityControlFactory
    - App\Components\Athlete\IRecordGridControlFactory
    - App\Components\Athlete\ISessionGridControlFactory
    - App\Components\Athlete\ITestGridControlFactory
    - App\Components\Athlete\ICoachGridControlFactory

    # Coaches' components
    - App\Components\Coach\IAthleteGridControlFactory
    - App\Components\Coach\IEntityControlFactory
    - App\Components\Coach\IGridControlFactory

    # Records' components
    - App\Components\Record\IEntityControlFactory

    # Session' components
    - App\Components\Session\IDetailGridControlFactory
    - App\Components\Session\IGridControlFactory
    - App\Components\Session\IEntityControlFactory
    - App\Components\Session\IImportControlFactory

    # Settings
    - App\Model\SettingsModel(%grid%)

    # Sign components
    - App\Components\ISignInControlFactory
    - App\Components\ISignOutControlFactory
    - App\Components\IForgottenControlFactory
    - App\Components\IRecoveryControlFactory

    # Test' components
    - App\Components\Test\IGridControlFactory
    - App\Components\Test\IEntityControlFactory
    - App\Components\Test\IInterpreterFactory

    # User' components
    - App\Components\User\IGridControlFactory
    - App\Components\User\IEntityControlFactory
    - App\Components\User\ICoachControlFactory

    # Authorizator
    authorizator:
        class: Nette\Security\Permission
        setup:
            # Role
            - addRole('authenticated')
            - addRole('athlete', 'authenticated')
            - addRole('coach', 'athlete')
            - addRole('admin', 'coach')

            # Zdroje
            - addResource('account')
            - addResource('athlete')
            - addResource('coach')
            - addResource('homepage')
            - addResource('record')
            - addResource('session')
            - addResource('test')
            - addResource('user')

            # Privilegia
            - allow('athlete', ['homepage'])
            - allow('athlete', 'athlete', ['detail','session','test'])
            - allow('coach', ['athlete', 'coach'], 'detail')
            - allow('admin')

    cacheStorage:
        class: Nette\Caching\Storages\FileStorage(%tempDir%/cache)