{block scripts}
    {include parent}
    {control jsGrido}
{/block}

{block content}
<h1 class="page-header">Přehled uživatelů</h1>

<div class="btn-toolbar" role="toolbar">
    <a n:href="User:new" type="button" class="btn btn-danger"><i class="fa fa-plus"></i> Nový uživatel</a>
</div>


{control grid}