
{block content}
<h1 n:block="title">{_profile.template.forgotten.h1}</h1>
<p>{_profile.template.forgotten.perex}</p>

<div class="panel panel-default">
    <div class="panel-body">
        {control forgotten}
    </div>
</div>
<p>
	<a n:href="Sign:in">{_profile.template.default.backToSignIn}</a>
</p>