{var $robots = noindex}

{block content}
<h1>Zapoměli jste heslo?</h1>
<p>Pokud jste zapoměli heslo, stačí zadat svůj e-mail a zašleme Vám odkaz, kde si heslo vyresetujete. Prostě jednoduché jak facka.

<div class="panel panel-default">
    <div class="panel-body">
        {control forgotten}

        <p>
            <a n:href="Sign:in">Zpět na přihlášení</a>
        </p>
    </div>
</div>