
{var $robots = noindex}

{block content}
<h1 n:block="title">{_profile.template.recovery.h1}</h1>
<p>{_profile.template.recovery.perex}</p>

<div class="panel panel-default">
    <div class="panel-body">
		{control recovery}	
	</div>
</div>
<p>
	<a n:href="Sign:in">{_profile.template.default.backToSignIn}</a>
</p>