{var $robots = noindex}

{block content}
<h1>Obnovení hesla</h1>
<p>Pro obnovení hesla zadejte prosím nové heslo do systému. Vaše stávající heslo bude poté deaktivováno.</p>

{control recovery}

<p>
    <a n:href="Sign:in">Zpět na přihlášení</a>
</p>