
{var $robots = noindex}

{block content}
<h1 n:block="title">{_'profile.template.recovery.h1'}</h1>
<p>{_'profile.template.recovery.perex'}</p>

<div class="panel panel-default">
    <div class="panel-body">
		{control recovery}	
	</div>
</div>
<p>
	<a n:href="Sign:in">{_'profile.template.default.backToSignIn'}</a>
</p>