
{block content}
<h1 class="page-header">Test <small>{$test->name}</small></h1>

<div class="btn-toolbar" role="toolbar">
    <a n:href="Test:" type="button" class="btn btn-default" title="Zpět"><i class="fa fa-level-up fa-rotate-270"></i></a>
</div>

{control entity}