
{block content}
<h1 class="page-header">Test's detail</h1>

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <!--<a n:href="User:edit $athlete->id" type="button" class="btn btn-default">Edit user</a>-->
    </div>
</div>

{control entity}